<div class="form">
  <div class="box-body">
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ensino</th>
          <th>Ano</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ turmasCtrl.cadastroEscolas.turmas[turmasCtrl.count].nome }}</td>
          <td>{{ turmasCtrl.cadastroEscolas.turmas[turmasCtrl.count].ensino }}</td>
          <td>{{ turmasCtrl.cadastroEscolas.turmas[turmasCtrl.count].ano }}</td>
        </tr>
      </tbody>
    </table>
  <table class="table">
    <thead>
      <tr>
        <th>Alunos</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="cadastroEscolas in turmasCtrl.cadastroEscolas.turmas[turmasCtrl.count].nomealuno">
        <td>{{ cadastroEscolas.nome }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="box-footer">
  <button class="btn btn-primary" ng-click="turmasCtrl.showTabListaAlunos(turmasCtrl.cadastroEscolas, turmasCtrl.count)"><i class="fa fa-plus"></i> Adicionar Aluno</button>
  <button class="btn btn-default" ng-click="turmasCtrl.refresh()">Voltar</button>
</div>
</div>
